@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
        height: 400px;
    }

    section#login > div#imagem {
        float: left;
        width: 30vw;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 66%;
    }

    div#formulario > p {
        font-size: 1.2em;
        text-align: center;
    }

    form > div.campo {
        width: 455px;
    }

}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
        height: 600px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        text-align: center;
        margin: 20px 0px;
    }

    form > div.campo {
        position: relative;
        top: 50px;
        width: 455px;

        margin: 20px 0px;
    }

    form > input[type=submit] {
        position: relative;
        top: 90px;
    }

    form a.botao {
        position: relative;
        top: 100px
    }
}