@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #D16BA5;
    --cor2: #86A8E7;
    --cor3: #5FFBF1;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.800);

    transition: width .5s, height .5s ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-anni-roenkae-2693212.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: center;
}

form > div.campo {
    background-color: #69bff8;
    border: 2px solid #69bff8;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    width: 330px;
    text-align: center;
}

form label {
    display: none;
}

#i {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #ba83ca;
    font-size: 1em;
    width: calc(100% - 45px);
    
    height: 100%;
    border-radius: 8px;
    border: none;
    padding: 4px;
    
    transform: translateY(-11px);
}

::placeholder {
    color: black;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:white ;
    color: black;
    border: 1px solid #93b9ff;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #9a9ae1;
    color: white
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;

    width: 100%;
    height: 41px;

    background-color: white;
    text-decoration: none;
    color: black;

    border: 1px solid #93b9ff;
    border-radius: 5px;
    
    padding-top: 7px;
    margin-top: 5px;
}

#mail {
    font-size: 0.8em;
}

form a.botao:hover {
    background-color: #9a9ae1;
    color: white;
}